<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="Home.css" />
    <title>Home</title>
  </head>
  <body>
    <!-- <a href="/join">Join</a> -->
    <div class="container">
      <div class="content">
        <h1>
          Great Meetings Are<br />
          Just The Beginning
        </h1>
        <h3>Get Immersive and fast video calling experience, Invite <br> your friends and chat along.</h3>
        <div class="buttons">
          <div class="JOIN"><a href="/join">Join Meeting</a></div>
          <div class="NEW">New Meeting</div>
        </div>
      </div>
    </div>
    <script src="Home.js"></script>
  </body>
</html>
